{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="wrapper">
      {% if error_message %}
      <div class="alert" role="alert">{{ error_message }}</div>
      {% endif %}
      <form method="post" class="form">
        {% csrf_token %}
        <h1 class="title">Inicio</h1>
        <div class="inp">
          <input
            type="text"
            name="username"
            id="username"
            class="input"
            placeholder="Usuario"
          />
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="inp">
          <input
            type="password"
            name="password"
            id="password"
            class="input"
            placeholder="Contraseña"
          />
          <i class="fa-solid fa-lock"></i>
        </div>
        <button class="submit">Iniciar Sesión</button>
        <div class="footer">
          <p>¿No tienes una cuenta?</p>
          <a href="register" class="link">Por favor, Registrate</a><br>
          <a href='http://127.0.0.1:8000' class="link">Acceder sin cuenta</a>
        </div>
      </form>
    </div>
{% endblock %}
